@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800&display=swap");
body {
  font-family: "Work Sans", sans-serif;
  -webkit-tap-highlight-color: transparent;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}
button.btn-outline-primary:focus {
    outline: none;
    box-shadow: none ;
  }

button.btn-outline-primary {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  border: 1px solid rgb(68, 0, 153);
  transition: all 275ms cubic-bezier(0.46, 0.03, 0.52, 0.96) 0s;
  font-size: 14px;
  padding: 1.2rem 2rem;
  font-weight: 500;
  line-height: 0.91;
  letter-spacing: -0.4px;
  text-transform: uppercase;
  color: rgb(68, 0, 153);
  text-align: center;
  margin-right: auto;
}
button.btn-outline-primary:hover {
  background-color: rgb(68, 0, 153);
  color: white;
}
